<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">about us</a>
        <a href="/order">order</a>
    </nav>
    <h1>ABOUT US</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat quasi, optio veniam vel doloremque minima incidunt quam esse cumque sapiente consequatur distinctio maiores error voluptas odio nulla temporibus rerum. Reiciendis optio itaque tempora doloribus. Illum, odit iusto. Nesciunt, aliquid quam totam voluptatibus vel amet voluptates natus repellat soluta accusantium ad dicta temporibus similique quibusdam veritatis libero? Quia ducimus placeat repellendus asperiores non, voluptate, alias quibusdam, laudantium distinctio delectus repellat facilis doloribus explicabo debitis sequi eius consectetur maxime ad unde quidem necessitatibus iusto aut? Ipsa, delectus, aliquid nemo non impedit explicabo iusto itaque distinctio quaerat dolorem nobis quibusdam, quos mollitia perspiciatis.</p>
</body>
</html>